<h1 class="page-title"><%= @video.title %></h1>

<% if @video.subscription_required %>
  <% if access_token.present? %>
    <div class="video-player">
      <div id="zype_<%= @video.zype_id %>"></div><script src="https://player.zype.com/embed/<%= @video.zype_id %>.js?autoplay=true&access_token=<%=access_token%>" type="text/javascript"></script>
    </div>
  <% else %>
    <p>
      Please log in or subscribe to watch this video.
    </p>
    <p>
      <%= link_to 'Log in', new_session_path(origin_video_id: @video.id) %>  |
      <%= link_to 'Subscribe', 'https://admin.zype.com/users/sign_up', target: '_blank' %>
    </p>
  <% end %>
<% else %>
  <div class="video-player">
    <div id="zype_<%= @video.zype_id %>"></div><script src="https://player.zype.com/embed/<%= @video.zype_id %>.js?autoplay=true&app_key=<%=ZYPE_APP_KEY %>" type="text/javascript"></script>
  </div>
<% end %>
