<!DOCTYPE html>
<html>
  <head>
    <title>ZypeWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row flash">
        <% if flash[:notice] %>
          <div class="col-md-12 alert alert-success"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:error] %>
          <div class="col-md-12 alert alert-danger"><%= flash[:error] %></div>
        <% end %>
      </div>
      <%= yield %>
  </body>
</html>
